# Backend + DB - EP2
# IPs AWS
EC2_BACKEND_PRIVATE_IP=10.0.2.128
EC2_DB_PRIVATE_IP=10.0.3.204

# Base de datos usada por los backends
DB_ENDPOINT=10.0.3.204
DB_PORT=3306
DB_NAME=ep2_innovatech
DB_USERNAME=ep2_user
DB_PASSWORD=ep2_pass

# MySQL docker
DB_ROOT_PASSWORD=root123

# Docker Hub para pipeline futuro
DOCKERHUB_USERNAME=tu_usuario_dockerhub
